@import '../../styles/mixin';
@import '../../styles/variables';

.job {
  @include flex(row, center);
  margin-bottom: 0.5rem;

  .job-item {
    @include flex(column, space-around);
    width: 500px;
    min-width: 400px;
    height: 160px;
    background-color: $neon-02-23-hex;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      outline: 1px solid $neon-02-2-hex;
    }

    .job-item__icon {
      position: absolute;
      right: 5%;
      top: 5%;
      @include flex(row, space-between);
      width: 90%;
      height: 30%;
      cursor: pointer;
      .job-item__icon-icon {
        color: white;
        height: 20px;
        letter-spacing: 0.1rem;
        transition: 0.2s ease;
        &:hover {
          color: $neon-02-2-hex;
        }
      }
    }
    .job-item__details {
      @include flex(column, center);
      width: 55%;
      height: 40%;
      margin-top: 1.5rem;

      .job-item__details-info {
        margin-bottom: 0.3rem;
      }

      .company {
        color: white;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: capitalize;
      }
      .job-title {
        color: $neon-02-2-hex;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
