@import '../../styles/mixin';
@import '../../styles/variables';

.Btn {
  padding: 1rem 3rem;
  border: none;
  background-color: $neon-02-2-hex;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $neon-02-22-hex;
  }

  &:focus {
    background-color: $neon-02-22-hex;
    border: 1px solid white;
  }
}
