$main-font: 'Noto Sans KR', sans-serif;
$logo-font: 'ZCOOL XiaoWei', serif;
$main-text-color: #242424;
$background-color: #141414;

/* Color Theme Swatches in Hex */
$Teals-1-hex: #19555c;
$Teals-2-hex: #80d8e1;
$Teals-3-hex: #3bccdb;
$Teals-4-hex: #34585c;
$Teals-5-hex: #2d9ca8;

/* Color Theme Swatches in Hex */
$neon-02-1-hex: #f32fcf;
$neon-02-2-hex: #5a71f5;
$neon-02-22-hex: #3d4ca5;
$neon-02-23-hex: #1a1e2c;
$neon-02-24-hex: #080a11;
$neon-02-3-hex: #4a23da;
$neon-02-4-hex: #009da9;
$neon-02-5-hex: rgb(179, 0, 36);

$tip-green: rgb(27, 220, 20);
$money-rose: rgb(179, 0, 36);
