@import '../../styles/mixin';
@import '../../styles/variables';

.signup-page {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @include flex(row, center);
  height: 100vh;
  .signup-page__left {
    position: relative;
    width: 50vw;
    height: 100vh;
    @include flex(column, center);

    .signup-page__top-logo {
      position: absolute;
      top: 1vh;
      left: 42%;
      height: 100px;

      @include flex(row, center);

      img {
        height: 50px;
      }
      h1 {
        font-size: 2rem;
        color: white;
        font-family: $logo-font;
        margin-left: 1rem;
      }
    }

    h1 {
      font-size: 4rem;
      font-family: $main-font;
      color: $neon-02-2-hex;
      letter-spacing: 0.1rem;
    }
    form {
      @include flex(column, center);
      width: 450px;
      padding: 2rem;
      border-radius: 10px;
      input {
        width: 90%;
        border: none;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;
        outline: none;
        background-color: white;
        &::placeholder {
          font-size: 1.2rem;
          margin-bottom: 0.3rem;
        }
      }
      button {
        width: 90%;
        letter-spacing: 0.1rem;
      }
    }
    small {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: white;
      span {
        color: $neon-02-2-hex;
        margin-left: 0.2rem;
        transition: 0.3s ease;
        &:hover {
          color: $money-rose;
        }
      }
    }
  }
  .signup-page__right {
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: $neon-02-2-hex;
    background-attachment: fixed;
    overflow: hidden;
    @include flex(column, center);
    z-index: -3;

    img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      background-size: cover;
      height: 2750px;
      overflow: hidden;
    }
    .signup-page__gradient {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(to bottom left, black, rgba(0, 0, 0, 0));
      height: 100%;
      width: 100%;
    }
    .signup-page__right-info {
      @include flex(column, center);
      width: 60%;
      padding: 4rem 0rem;
      h1 {
        color: white;
        width: 50%;
        font-size: 3rem;
        letter-spacing: 0.1rem;
      }
      p {
        margin-top: 3rem;
        color: white;
        width: 50%;
        line-height: 2rem;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        span {
          font-family: $logo-font;
        }
      }
    }

    .signup-page__right-img1 {
      background-image: url(https://images.pexels.com/photos/6205769/pexels-photo-6205769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      background-position: center 70%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      height: 25%;
      width: 25%;
      bottom: 5%;
      left: -5%;
    }
    .signup-page__right-img2 {
      background-image: url(https://images.pexels.com/photos/6205605/pexels-photo-6205605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      background-position: center 70%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      height: 25%;
      width: 25%;
      top: 5%;
      right: 5%;
    }
  }
}
