@import '../../styles/mixin';
@import '../../styles/variables';

.header {
  width: 100vw;
  height: 10vh;
  @include flex(row, center);
  margin-bottom: 3rem;

  span {
    color: white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  .header-container {
    width: 25%;
    @include flex(row, space-between);
  }

  .header__button {
    padding: 0.5rem 0rem;
    font-size: 1.3rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s ease;
    background-color: transparent;
    &:hover {
      color: $neon-02-2-hex;
    }
    .icon {
      font-size: 2.3rem;
    }
  }
}
